# Xcode

.DS_Store

# User-specific Xcode files
xcuserdata/
*.xcuserstate

# Build / Derived data
DerivedData/
build/
*.app
*.ipa
*.dSYM
*.dSYM.zip

# Xcode project files (optional, biasanya TIDAK di-ignore)
# *.pbxuser
# *.mode1v3
# *.mode2v3
# *.perspectivev3
# *.xccheckout
# *.moved-aside

# =========================
# Swift Package Manager
# =========================

.build/
Packages/
Package.resolved

# =========================
# CocoaPods (kalau dipakai)
# =========================

Pods/

# =========================
# Carthage
# =========================

Carthage/Build/

# =========================
# Fastlane
# =========================

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# =========================
# Misc
# =========================

*.swp
*.lock
